.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
	
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.carousel {
	/* any dimensions are fine, it can be responsive with max-width */
	width: 100%;
	height: 100%;
}

.carousel-inner {
	/* make sure your .items will get correct height */
	height: 100%;
}

.item {
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}

.item img {
	visibility: hidden;
}

.text-carousel {
	text-shadow: 2px 2px 2px black;
	font-style: italic;
	text-align: right;
}	

